*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper{
    height: 100%;
    width: 100%;
    
}
.heading{
    height: 20vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 7px;
    word-spacing: 7px;
}
.title{
    height: 4.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    border-top: 1px solid rgb(160, 155, 155);
    border-bottom: 1px solid rgb(160, 155, 155);
}
.link a {
    text-decoration: none;
    color: rgb(38, 103, 194);
}
.link a:hover {
    color: #3d0b93; /* Change link color on hover */
    box-shadow: 2px 2px 0 2px  black;
}

.container{
    /* height: 70vh;
    width: 60vw; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4vh 6vw;
}
.container-left{
    width: 35%;
    height: 100%;
    border-right: 1px solid rgb(160, 155, 155);
}
.container-left i{
    margin-right: 1vw;
}
.container-left h3{
    margin-top: 2vh;
    margin-bottom: 2vh;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.7vw;
}
.container-left p{
    margin-top: 2vh;
}
.container-right h3{
    font-size: 1.7vw;
    font-weight: 500;
    margin-top: 5vh;
    margin-bottom: 2vh;
}
.link-1 ol {
    list-style-type: decimal; /* Use decimal numbering for the list */
    padding-left: 20px; /* Add some left padding to the list */
}

.link-1 ol li {
    margin-bottom: 10px; /* Add some space between list items */
}

.link-1 ol li a:hover {
    color: #3d0b93; /* Change link color on hover */
    box-shadow: 2px 2px 0 2px  black;
}

.link-1 ol li a {
    text-decoration: none;
    color: rgb(38, 103, 194);
}
.container-right{
    width: 65%;
    height: 100%;
    padding-left:4vw ;
    padding-right: 4vw;
}
